@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* remove bulltepoints */
ul{
  list-style-type: none;
}

.header, .footer{
  display: flex;
  padding: 16px 32px;
}

.header{
  align-self:  flex-start;
}

.footer{

  background-color: #eeeeee; /* light gray background */
}

.content{

flex-grow: 1;

}


.left-links, .right-links{
  display: flex;
  gap:15px;  
}

.left-links{
 align-self: flex-start;
}

.right-links{
align-self: flex-end;
} 