/* Add CSS Styling */
.odd-number{
    background-color: rgb(243, 122, 122);
    font-family: "Verdana", "DejaVu Sans", sans-serif
}

#second-element{
    color: rgb(20, 20, 228);
    font-size: 36px
}

.odd-number.cooler{
    font-size: 24px;
}

#fourth-element{
    background-color: rgb(95, 221, 95);
    font-size: 24px;
    font-weight: bold;
}